<div class="container container-first">

	<div class="logo">
		<a href="/"><img src="<r:image_url name="header_bp.gif" />" alt="Do it Yourself Outdoors" /></a>
	</div> <!-- /.logo -->

	<nav id="nav" class="main-nav" role="navigation">
		<r:site_menu />
	</nav> <!-- close nav -->

</div> <!-- /.container -->