<ul class="subnav">
  <li id="backpacking"><a href="/backpacking" data-page-id="21">Backpacking</a></li>
  <li id="camping"><a href="/camping" data-page-id="23">Camping</a></li>
  <li id="caving"><a href="/caving" data-page-id="25">Caving</a></li>
  <li id="hiking"><a href="/hiking" data-page-id="27">Hiking</a></li>
  <li id="rock"><a href="/rock-climbing" data-page-id="29">Rock Climbing</a></li>
  <li id="skiing"><a href="/xcountry-skiing" data-page-id="31">X-Country Skiing</a></li>
  <li id="bicycling"><a href="/bicycling" data-page-id="22">Bicycling</a></li>
  <li id="canoeing"><a href="/canoeing" data-page-id="24">Canoeing</a></li>
  <li id="downhill"><a href="/downhill-skiing" data-page-id="26">Down Hill Skiing</a></li>
  <li id="mountain"><a href="/mountain-biking" data-page-id="28">Mountain Biking</a></li>
  <li id="whitewater"><a href="/whitewater" data-page-id="30">Whitewater</a></li>
</ul>