---
layout: fluid
---

<section class="mainbox">
  
<div id="map-canvas" class="embed-container"></div> 
<div id="printDirections"></div>
<div class="mapbottom">
  
  <p class="title"><strong>Filter Map by Activity</strong></p>
            
  <!-- This subnav has different URL's than the one in the partial, that's why we're not including the partial here -->       
  <div id="filters" class="subnav"> 
    <ul>
      <li id="all" class="all"><a href="#">All</a></li>
      <li id="backpacking" class="backpacking"><a href="#">Backpacking</a></li>
      <li id="camping" class="camping"><a href="#">Camping</a></li>
      <li id="caving" class="caving"><a href="#">Caving</a></li>
      <li id="hiking" class="hiking"><a href="#">Hiking</a></li>
      <li id="rock" class="rock-climbing"><a href="#">Rock Climbing</a></li>
      <li id="bicycling" class="bicycling"><a href="#">Bicycling</a></li>
      <li id="canoeing" class="canoeing"><a href="#">Canoeing</a></li>
      <li id="mountain" class="mountain-biking"><a href="#">Mountain Biking</a></li>
      <li id="whitewater" class="whitewater"><a href="#">Whitewater</a></li>
      <li id="downhill" class="downhill-skiing"><a href='#'>Alpine Skiing</a></li>
      <li id="skiing" class="xc-skiing"><a href='#'>Cross Country Skiing</a></li>
      <li id="swimming" class="swimming"><a href='#'>Swimming</a></li>
    </ul> 
  </div> <!-- /.subnav -->

</div> <!-- /.mapbottom -->

</section><!-- /.mainbox-->


<!-- Moving this JS to the bottom of the document -->
<r:content_for name="page_js">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/themes/shared/javascripts/jquery-1.7.2.min.js"><\/script>')</script>
  <r:include_javascript name="jquery.history" />
  <script src="//maps.google.com/maps/api/js?sensor=false"></script>
  <script src="//www.google.com/jsapi"></script>
  <r:include_javascript name="fusionmaps.custom" />
</r:content_for>