---
layout: default
---

<section class="mainbox sixteen columns alpha omega">
  
  <div class="leftbp four columns alpha omega">

    <p class="title">Select an Activity</p>
    <r:partial name="subnav" />
    
    <br class="clear" />
    
    <p class="title">Select a Location</p>
   
   <div class="locations">
    <r:editable_region name="locations" scope="site" />
   </div> <!-- ends locations -->
   
  </div> <!--/.leftbp-->   
   
  <div class="contentbp nine columns alpha" role="main">
    <r:breadcrumbs ul_class="breadcrumbs" />
    <h1>
      <r:if_parent>
        <r:parent><r:page:name /></r:parent>
        &mdash;
      </r:if_parent>
      <r:page:first_non_blank_attr names="alternate_name,name" />
    </h1> <!-- If the parent page exists, print it out along with the current page name. Otherwise, just print the current page name -->
    <r:editable_region name="main" />
    
    <ol class="subpageslist">
      <r:children:each>
        <li><a href="<r:page:url />"><r:page:first_non_blank_attr names="alternate_name,name" /></a></li>
      </r:children:each>
    </ol> <!-- /.subpageslist -->
    
  </div><!-- /.contentbp -->
   
   
   <div class="mapbp three columns omega">
    <p>Return to Main Map</p>
    <a href="/maps"><img src="<r:image_url name="map3.jpg" />" alt="Map of WV DIY Outdoors activity locations"/></a>
    <br class="clear" />
    <p>Specific Map Location</p>
    <r:editable_region name="sidebar" />
   </div> <!-- ends mapbp -->

</section><!--/.mainbox-->