---
layout: default
---

<section class="mainbox">
  
  <div class="leftbp four columns alpha omega">

    <p class="title">Select an Activity</p>
    <r:partial name="subnav" />
    
    <br class="clear" />
    
    <p class="title">Select a Location</p>
   
   <div class="locations">
    <r:editable_region name="locations" scope="site" />
   </div> <!-- ends locations -->
   
  </div> <!--/.leftbp-->   
   
  <div class="contentbp contentbp-full-width" role="main">
    <r:breadcrumbs ul_class="breadcrumbs" />
    <h1>
      <r:if_parent>
        <r:parent><r:page:name /></r:parent>
        &mdash;
      </r:if_parent>
      <r:page:name />
    </h1> <!-- If the parent page exists, print it out along with the current page name. Otherwise, just print the current page name -->
    <r:editable_region name="main" />
  </div><!-- /.contentbp -->

</section><!--/.mainbox-->