---
layout: default
---

  <section class="mainbox">

  <div class="leftside">
    <r:editable_region name="random_image" />
      
    <div class="leftcontent">
      <r:editable_region name="left_content" />
    </div><!-- /.leftcontent -->
  
  </div> <!-- /.leftside -->
  
  <div class="rightside">
    <p class="title">Select an Activity</p>
    
    <div class="subnavindex">
      <r:partial name="subnav" />
    </div><!-- /.subnavindex -->
    
    <div class="map">
      <p class="title">View Maps</p>
      <a href="/maps"><img src="<r:image_url name="map1.jpg" />" alt="View the DIY Outdoors locations on a Google Map" /></a>
    </div> <!-- /.map -->
  
  </div> <!-- /.rightside -->
  
  </section><!-- /.mainbox -->