// Backpage stuff
.leftbp, .mapbp { color: #fff; }
.leftbp { padding-bottom: 18px; }
.locations { padding-left: 1.3em; padding-right: 1.3em; float: left; 
  a { color: $light-blue; text-decoration: underline; font-family: "HelveticaNeueW01-75Bold", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
    &:hover { color: $wvu-gold; }
  } //a
} //.locations
.contentbp { background-color: #fff; padding: 1.5em;
  @include mq($tablet) { padding: 3em; }
  a { text-decoration: underline; font-family: "HelveticaNeueW01-75Bold", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
    &:visited { color: $link-color-visited; 
      &:hover { color: $wvu-gold; }
    } //:visited
  } //a
} //.contentbp

// Activity page list styles
.subpageslist { list-style: none; padding: 0; margin: 18px 0;
  li { margin: 0; padding: 2px 0; }
  a { text-decoration: none; }
}

.mapbp.three.columns { 
  @include mq($tablet) { width: 19%; } // Override backpage sidebar grid to have even columns
} //.mapbp.three.columns

// For Full Width page 
.contentbp-full-width { float: left; width: 100%;
  @include mq($ipad) { width: 77.6%; }
  @include mq($desktop) { width: 77.05%; }
} //.contentbp-full-width


// Some progressive enhancement via Flexbox for mobile
// Here, we're reordering the dom via Flexbox to give a better UX for mobile
// Only display it up to the ipad size (max-width media query)
// This @supports thing looks crazy, but it's legit:
// http://caniuse.com/css-featurequeries
@supports (flex-wrap: wrap) {
  @include mq($ipad, false, max) {
    #backpage, #backpage_full_width { // Scope it to the backpages
      .mainbox { @include flexbox-display-flex; @include flexbox-flex-wrap; } // Set these to the wrapper
      .leftbp { @include flexbox-order(3); } // ...then reorder the main items
      .contentbp { @include flexbox-order(1); } // Make the main content first for mobile.
      .mapbp { @include flexbox-order(2); }
    } //#backpage, #backpage_full_width
  } //$ipad mq
} //@supports rule

// TODO: Change the body ID's to classes (in _map.scss in particular)