// Only root level elements allowed here, no classes or ID's

// Border-box handled in v4 global stylesheet
body { font-size: 1em; line-height: 1.6; background-color: $bkg-color; 
  @include mq($desktop) { background: url("../images/dirt2.jpg") no-repeat center top $bkg-color; }
}
// Fluid images and objects
img, iframe, video, embed, object { max-width: 100%; }
// A better looking default horizontal rule
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
// Remove the gap between images and the bottom of their containers: h5bp.com/i/440
img { vertical-align: middle; }
// Remove default fieldset styles.
fieldset { border: 0; margin: 0; padding: 0; }
// Allow only vertical resizing of textareas.
textarea { resize: vertical; }
abbr { cursor: help; }
a, a:visited { color: $link-color; }

h1, h2 { text-transform: none; max-width: 16em; color: $heading-color; font-family: "HelveticaNeueW01-75Bold", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif; margin-bottom: .8em; }
h1 { font-size: 1.7em; line-height: 1.5em; }
h2 { border-bottom: 0; }