// Global styles and stuffs

.wvu-masthead { margin-bottom: 0; }

.container-first { background-color: $brown-med; }
.main-content { background-color: $brown-dark; }

.title { display: block; float: left; max-width: 100%; width: 100%; background-color: $brown-dark; color: #fff; @include font-size(.9, medium); padding: 1em 1.5em; margin-bottom: 0; margin-top: 0; }

.breadcrumbs { padding: 0;
  li { @include font-size(.7, x-small); display: inline; list-style-type: none; margin-left: 0; 
    &.active { background-color:transparent; color:#5c6f7b }
    &:before { content: "\00BB"; padding-right: 3px; }
    &:first-child:before { content: ""; padding-right: 0; }
    a { text-decoration: none; } // Override .contentbp
  } //li
} //.breadcrumbs