// Header / top of page styles

// Hide logo for homepage <--- seems hacky
#frontpage .logo { display: none; }

#nav-toggle { float: left; width: 100%; text-align: center; background-color: $brown-dark; color: #fff; padding: 10px 0; border-top: 1px solid $brown-dark; }

#nav { padding-bottom: 1em; background-color: $brown-med;
  @include mq($tablet) { padding-top: .4em; padding-bottom: .2em; padding-left: 1em; padding-right: 1em; }
  ul {
    @include mq($tablet) { float: right; width: auto; }
  } //ul
  li { float: left; border-top: 1px solid $brown-dark; margin-bottom: 1px; 
    @include mq($tablet) { width: auto; border-top: 0; margin-right: 1px; }
    @include mq($desktop) { border-left: 1px solid $brown-dark; 
      &:first-child { border-left: 0; }
    } //$desktop
  } //li
  a { background-color: transparent; @include font-size(1, large); width: 100%; text-align: center; padding: 1em;
    &:hover { text-decoration: none; }
    &:visited { background-color: transparent; }
    @include mq($tablet) { padding: .5em; }
  } //a
}

.active { background-color: $heading-color; }


.logo { padding-top: 1em; float: left; 
  @include mq($desktop-wide) { padding-bottom: 1em; }
} //.logo
.main-nav { float: left; width: 100%;
  @include mq($tablet) { width: 98%; margin-bottom: .7em; }
  @include mq($desktop-wide) { width: 78%; margin-top: 2em; }
  @include mq($tablet) { 
    #frontpage & { margin-top: .8em; } 
  } //$tablet
} //.main-nav