// Homepage content

//.mainbox { float: left; background-color: $brown-dark; }

.leftside { color: #fff; position: relative; min-height: 175px; width: 100%; 
  @include mq($ipad) { width: 54%; float: left; }
} 

.leftcontent { padding: 1em 2.5em; background-color: #222; background-color: rgba(#000, .8); @include font-size(.95, medium);
  a { color: $wvu-gold; }
  @include mq($desktop-wide) { position: absolute; bottom: 0; }
} //.leftcontent

.rightside { float: left;
  @include mq($ipad) { width: 46%; }
}