// Fluid Map Stuffs
// Lots of overriding going on in here, kiiiinda hacky. 
// Would be smart to revisit
#backpage_map {
  .container { max-width: 100%; width: 100%; float: left; }
  .wvu-masthead-container { width: 100%; }
  .wvu-official-logo { margin-left: 20px; }
  .wvu-masthead ul { margin-right: 10px; }
  .mainbox { margin-right: 0; width: 100%; float: left; }
} //#backpage_map

// Give some room for scrolling on touch devices
#map-canvas { margin: 0 10px; 
  img { max-width: none; } // Enables user to see Google Map controls
  @include mq($desktop) { margin: 0; }
  h3 { margin-bottom: 0; margin-top: 0; }
}

// from http://amobil.se/2011/11/responsive-embeds/
.embed-container {
  position: relative;
  padding-bottom: 35%; /* 16/9 ratio, was 56.25% */
  padding-top: 30px; /* IE6 workaround*/
  height: 0;
  overflow: hidden;
  iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
} //.embed-container

.mainbox {
  .description, .mainbox .url { line-height: 1.5em; max-width: 325px; }
  .description { font-size: .85em; margin-bottom: 3px; }
  #map-canvas .directions-title { font-size: .8em; font-weight: normal; }
  #begin { width: 77%; float: left; margin-right: 3px; }
  #go { float: left; width: 15%; }
} //.mainbox

// Overriding some Google Default Styles:
.gm-style div, .gm-style span, .gm-style label, .gm-style a { font-family: "HelveticaNeueW02-55Roma", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif; }
.gm-style-iw { min-height: 115px; max-width: 330px; }


#backpage_map {
  .subnav {
    ul { padding-left: 0; }
    li, a { clear: none; }
    li {
      @include mq($mobile-landscape) { width: 48%; margin-right: 2%; }
      @include mq($tablet) { width: 30%; margin-right: 2%; }
    } // li

    @include mq($desktop-wide) {
      .mapbottom {
        ul { float: left; width: 100%; }
         li { width: 18%; }
      } //.mapbottom
    } //$desktop-wide

  } //.subnav
} //#backpage-map

// Google direction styles
#directionsPanel {
  position: absolute;
  width: 380px;
  top: 30px;
  right: 0;
  background: #fff;
  color:  #333;
  bottom: 30px;
  overflow-y: scroll;
  padding: 5px 15px;
}
#printDirections {
  display: none;
}