// Subnav with all of the activities

.subnav { margin: 0; padding-left: 0; padding-top: 1em; padding-bottom: 1em; width: 100%; float: left; background-color: $bkg-subnav;
  li { list-style-type: none; float: left; clear: both; width: 100%; margin: 0; position: relative;
    @include mq(468) { width: 50%; clear: none; }
    @include mq($ipad) { width: 100%; clear: both; }
    &:before{ content:''; background: url(../images/navicons_v2.png) no-repeat left top; height: 35px; width: 41px; position: absolute; left: 1.5%; top: 10%; }
    &.active { background-color: transparent; }
    &.active a { background: url(../images/active_checkmark.png) no-repeat right center; }
    &:last-child a { border-bottom: 0; }
  } //li
  a { color: #ff8a22; font-size: 18px; float: left; clear: both; padding: 8px 20px 10px 52px; border-bottom:dotted #cccccc 1px; width: 100%; text-decoration:none;
    &:hover { text-decoration: underline; }
  } //a
} //.subnav

.subnavindex li {
  @include mq($desktop) { width: 48%; margin-right: 2%; clear: none; }
}

#backpacking:before { background-position: 12px 1px; }
#camping:before { background-position: 12px -57px;}
#caving:before { background-position: 12px -119px; }
#hiking:before { background-position: 12px -178px;}
#rock:before { background-position: 12px -237px; }
#skiing:before { background-position: 12px -299px;}
#bicycling:before { background-position: 12px -356px; }
#canoeing:before { background-position: 12px -423px; }
#downhill:before { background-position: 12px -490px; }
#mountain:before { background-position: 12px -550px; }
#whitewater:before { background-position: 12px -606px; }
#all:before, #reset:before { background-position: 12px -656px; }
#swimming:before { background-position: 12px -708px; }