// Breakpoints
$mobile-landscape: 480;
$ipad: 768;
$tablet: 875;
$desktop: 960;
$desktop-wide: 1200;

$wvu-gold: #eeb111;
$heading-color: #FF8A22;
$alternate-blue: #005daa;
$light-blue: #69c;
$off-white: #f4f4f2;

// Browns
$brown-light: #7d6d49;
$brown-med: #423a28;
$brown-dark: #2f2a1c;

// Double Abstraction
$bkg-color: $brown-light;
$bkg-subnav: $off-white;
$link-color: $alternate-blue;
$link-color-visited: $light-blue;