// Rems | http://seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback
// Fallbacks go from xx-small to xx-large
@mixin font-size( $decimal-size, $keyword: null ) {
  @if $keyword{ font-size: $keyword; }
  @else { font-size: $decimal-size * $base-font-multiplier * 16px;}
  font-size: $decimal-size * 1rem;
}

// Usage example:
// #example { @include font-size(.9, small); }